<div class="container px-4 bg-white mt-12 mb-12 sm:mt-36 sm:mb-20 mx-auto">
  <div class="grid sm:grid-cols-2 gap-4 my-12 sm:my-20">
    <div class="py-2 sm:py-10 xl:pr-20">
      <%= render Ui::BreadcrumbsComponent.new([
          { 
            path: geo_groups_path, 
            text: "Destinations" 
          },
          { 
            path: geo_group_path(@country.continent), 
            text: @country.continent.name 
          },
          { 
            path: country_path(@country), 
            text: @country.name 
          },
        ])
      %>
      <h1 class="heading-1">
        <%= ISO3166::Country.new(@country.code).emoji_flag %>
        Diving in <%= @country.name %>
      </h1>
      <p class="mt-4 sm:mt-8 paragraph">
        <%= @country.description %>
      </p>
    </div>
    <div>
      <%= image_tag("illustrations/countries/placeholder.jpg", class: "rounded-4xl shadow-xl") %>
    </div>
  </div>
</div>