<div class="container px-4 mx-auto mt-8 sm:mt-0 sm:mb-28">
  <h2 class="heading-1">
    What to know about <%= @country.name %>?
  </h2>
  <div class="mt-10 w-full p-2 bg-white rounded-lg shadow sm:p-6">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 sm:gap-12">
      <% if @country.languages.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Languages</span><br>
          <span class="text-xl"><%= to_sentence(@country.languages) %></span>
        </div>
      <% end %>
      <% if @country.demonym.present? %> 
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Demonym</span><br>
          <span class="text-xl"><%= @country.demonym %></span>
        </div>
      <% end %>
      <% if @country.currency.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Currency</span><br>
          <span class="text-xl"><%= @country.currency %></span>
        </div>
      <% end %>
      <% if @country.pressure.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Pressure</span><br>
          <span class="text-xl"><%= @country.pressure %></span>
        </div>
      <% end %>
      <% if @country.phone_prefix.present? %>  
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Phone prefix</span><br>
          <span class="text-xl"><%= @country.phone_prefix %></span>
        </div>
      <% end %>  
      <% if @country.voltage.present? %>  
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Voltage</span><br>
          <span class="text-xl"><%= @country.voltage %></span>
        </div>
      <% end %>
      <% if @country.plug.present? %>  
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Plug</span><br>
          <span class="text-xl"><%= @country.plug %></span>
        </div>
      <% end %>
      <% if @country.international_airports.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">International airports</span><br>
          <span class="text-xl"><%= to_sentence(@country.international_airports) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>