
<%= render Ui::Containers::WavesComponent.new do %>
  <div class="container mx-auto">
    <h2 class="heading-1">
      Where to dive in <%= @country.name %>?
    </h2>
    <div class="grid grid-cols-2 gap-12 mt-10" data-controller="map"
      data-map-locations="<%= @locations.to_json %>"
      data-map-zoom-level="5"
      data-map-destination-marker-url="<%= image_url('map_markers/location-dot-solid-sky.svg') %>"
      data-map-dive-center-marker-url="<%= image_url('map_markers/dive_center.png') %>"
      data-map-dive-site-marker-url="<%= image_url('map_markers/dive_site.png') %>"
      data-map-mapbox-token="<%= ENV["MAPBOX_ACCESS_TOKEN"] %>"
    >
      <div id="map" class="w-full h-full min-h-[65vh] max-h-[100vh] rounded-4xl shadow-lg">
        <!--  javascript/controllers/map_controller.js   -->
      </div>
      <div>
        <h3 class="heading-3">
          Discover <%= @country.regions_count %> regions in <%= @country.name %>
        </h3>
        <div class="grid grid-cols-2 gap-2">
          <% @regions.includes([:cities]).first(10).each do |region| %>
            <%= link_to region_path(country: @country.slug, region: region.slug) do %>
              <div class="mt-2 w-full p-2 bg-white rounded-lg shadow sm:p-6 hover:shadow-lg">
                <p class="link"><%= region.name %></p>
                <p>
                  <%= t("count.x_cities", count: region.cities_count) %>,
                  <%= t("count.x_dive_sites", count: region.cities.sum(&:dive_sites_count)) %>,
                  <%= t("count.x_dive_centers", count: region.cities.sum(&:dive_centers_count)) %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
        <% if @country.regions_count > 10 %>
          <div class="btn-primary mt-3">
            <i class="fas fa-plus"></i> See <%= @country.regions_count - 10 %> more regions
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>