<div class="container bg-white mt-36 mb-20 mx-auto">
  <h1 class="heading-1">
    Find your next 
    <span class="line-through text-gray-500">center</span> 
    <span class="bold text-main-sky">community</span>.
  </h1>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            Dive center
          </th>
          <th scope="col" class="px-6 py-3">
            City
          </th>
          <th scope="col" class="px-6 py-3">
            Country code
          </th>
          <th scope="col" class="px-6 py-3">
            Activities
          </th>
        </tr>
      </thead>
      <tbody>
        <% @dive_centers.each do |dive_center| %>
          <tr class="bg-white border-b hover:bg-sky-50">
            <th scope="row" class="px-6 py-4">
              <%= link_to dive_center.name.titleize, dive_center_path(dive_center), class: "link" %>
            </th>
            <td class="px-6 py-4">
              <%= dive_center.city&.name %>
            </td>
            <td class="px-6 py-4">
              <%= dive_center.city&.country&.name %>
            </td>
            <td class="px-6 py-4">
              <%= dive_center.activities&.to_sentence&.capitalize %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-10">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>