<div class="container mx-auto mb-28">
  <h2 class="heading-1">
    What to know about <%= @region.country.name %>?
  </h2>
  <div class="mt-10 w-full p-2 bg-white rounded-lg shadow sm:p-6">
    <div class="grid grid-cols-4 gap-12">
      <% if @region.country.languages.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Languages</span><br>
          <span class="text-xl"><%= to_sentence(@region.country.languages) %></span>
        </div>
      <% end %>
      <% if @region.country.demonym.present? %> 
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Demonym</span><br>
          <span class="text-xl"><%= @region.country.demonym %></span>
        </div>
      <% end %>
      <% if @region.country.currency.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Currency</span><br>
          <span class="text-xl"><%= @region.country.currency %></span>
        </div>
      <% end %>
      <% if @region.country.pressure.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Pressure</span><br>
          <span class="text-xl"><%= @region.country.pressure %></span>
        </div>
      <% end %>
      <% if @region.country.phone_prefix.present? %>  
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Phone prefix</span><br>
          <span class="text-xl"><%= @region.country.phone_prefix %></span>
        </div>
      <% end %>  
      <% if @region.country.voltage.present? %>  
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Voltage</span><br>
          <span class="text-xl"><%= @region.country.voltage %></span>
        </div>
      <% end %>
      <% if @region.country.plug.present? %>  
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">Plug</span><br>
          <span class="text-xl"><%= @region.country.plug %></span>
        </div>
      <% end %>
      <% if @region.country.international_airports.present? %>
        <div class="text-center text-2xl">
          <span class="font-serif text-main-sky">International airports</span><br>
          <span class="text-xl"><%= to_sentence(@region.country.international_airports) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>