<div class="grid sm:grid-cols-2 gap-4 my-12 sm:my-20">
  <div class="py-2 sm:py-10 xl:pr-20">
    <%= render Ui::BreadcrumbsComponent.new([
        { 
          path: geo_groups_path, 
          text: "Destinations" 
        },
        { 
          path: geo_group_path(@geo_group), 
          text: @geo_group.name 
        },
      ])
    %>
    <h1 class="heading-1">
      <% if current_user.admin? %>
        <%= link_to edit_geo_group_path(@geo_group) do %>
          <i class="fa-duotone fa-pen-to-square" style="--fa-primary-color: #0ea5e9; --fa-secondary-color: #0ea5e9;"></i>
        <% end %>
      <% end %>
      Diving in <%= @geo_group.name %>
    </h1>
    <p class="mt-4 sm:mt-8 paragraph">
      <%= @geo_group.description %>
    </p>
  </div>
  <div>
    <%= image_tag(@geo_group.main_image_path, class: "rounded-4xl shadow-xl") %>
  </div>
</div>
