<% country_components = "countries/show_components/" %>
<div class=" mt-36 mb-20 ">
  <%= render country_components + "heading" %>
  <%= render country_components + "description" %>
  <%= render country_components + "map" %>
  <%= render country_components + "conditions" %>
  <%= render country_components + "informations" %>
</div>