<%= content_for :meta_title, "Where to go scuba diving in #{@country.name}" %>
<%= content_for :meta_description, @country.meta_description %>
<%= content_for :meta_image, image_path("illustrations/countries/placeholder.jpg") %>
<% country_components = "countries/show_components/" %>

<div class="mt-24 mb-12 sm:mt-36 sm:mb-20">
  <%= render country_components + "heading" %>
  <%= render country_components + "description" %>
  <%= render country_components + "map" %>
  <%= render country_components + "conditions" %>
  <%= render country_components + "informations" %>
</div>