<% region_components = "cities/show_components/" %>
<div class=" mt-36 mb-20 ">
  <%= render region_components + "heading" %>
  <%= render region_components + "description" %>
  <%= render region_components + "map" %>
  <%= render region_components + "conditions" %>
  <%= render region_components + "informations" %>
</div>