<div class="container bg-white mt-36 mb-20 mx-auto">
  <nav class="flex mb-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <%= link_to root_path, class: "inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600" do %>
        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
        <% end %>
      </li>
      <li class="inline-flex items-center">
        <%= link_to destinations_path, class: "inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600" do %>
          <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          Destinations
        <% end %>
      </li>
      <li class="inline-flex items-center">
        <%= link_to country_destinations_path(country: @destination.country), class: "inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600" do %>
          <span class="inline-flex items-center text-sm font-medium text-gray-700">
            <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <%= @destination.country %>
          </span>
        <% end %>
      </li>
    </ol>
  </nav>
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
    <%= ISO3166::Country.new(@destination.country_code).emoji_flag %>
    Diving in <%= @destination.country %>
  </h1>
  
  <div class="grid grid-cols-2 gap-4 mt-10" data-controller="map"
    data-map-locations="<%= @locations.to_json %>"
    data-map-zoom-level="5"
    data-map-destination-marker-url="<%= image_url('map_markers/destination.png') %>"
    data-map-dive-center-marker-url="<%= image_url('map_markers/dive_center.png') %>"
    data-map-dive-site-marker-url="<%= image_url('map_markers/dive_site.png') %>"
    data-map-mapbox-token="<%= ENV["MAPBOX_ACCESS_TOKEN"] %>"
  >
    <div id="map" class="w-full h-full min-h-[65vh] max-h-[100vh]">
      <!--  javascript/controllers/map_controller.js   -->
    </div>
    <div class="w-full p-4 bg-white rounded-lg shadow sm:p-8">
      <div class="grid grid-cols-2 gap-2">
        <div>
          <h3 class="text-2l font-bold tracking-tight text-gray-700 sm:text-4l">
            Discover <%= @regions.size %> regions in <%= @destination.country %>
          </h3>

          <% @regions.order(region: :asc).each do |region| %>
            <div class="mt-2">
              <%= link_to region.region, region_destinations_path(region: region.region), class: "font-medium text-sky-600 whitespace-nowrap underline" %>

              <% cities = Destination.cities_in_region(region.country, region.region) %>
              <p>
                <!-- Finir de faire les comptes et les requettes permettant d'avoir les dive sites et centers. Les requêtes ici ne combinent pas tous les sites de plongée. Il faut aussi prendre ceux de @destination et non que les objets strictement région/ville ou autres -->
                <%= t("count.x_cities", count: cities.size) %>,
                <%= t("count.x_dive_sites", count: cities.sum(&:dive_sites_count)) %>,
                <%= t("count.x_dive_centers", count: cities.sum(&:dive_centers_count)) %>
              </p>
            </div>
          <% end %>
        </div>
        <div>
          <h3>Discover <%= @dive_centers.size %> dive centers and <%= @dive_sites.size %> dive sites</h3>
          
          <h4>Dive sites</h4>
          <% @dive_sites.each do |site| %>
            <p><%= site.name %> #<%= site.id %></p>
          <% end %>
          
          <h4>Dive centers</h4>
          <% @dive_centers.each do |centers| %>
            <p><%= centers.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>