<%= content_for :meta_title, "Edit #{@region.name}" %>
<div class="container px-4 bg-white mt-24 mb-12 sm:mt-36 sm:mb-20 mx-auto">
  <h1 class="heading-1">Edit <%= @region.name %></h1>

<%= form_with(model: @region, url: update_region_path(@region), method: :patch, local: true, class: "max-w-lg mx-auto my-10") do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Warning !</strong>
      <span class="block sm:inline"><%= pluralize(@region.errors.count, "error") %> prevent the edit :</span>
      <ul class="list-disc pl-5 mt-3">
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, id: :region_name, class: "form-input" %>
  </div>

  <div class="mb-4">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, id: :region_description, class: "form-input" %>
  </div>
  <div class="mb-4">
    <%= f.label :latitude, class: "form-label" %>
    <%= f.number_field :latitude, step: :any, id: :region_latitude, class: "form-input" %>
  </div>

  <div class="mb-4">
    <%= f.label :longitude, class: "form-label" %>
    <%= f.number_field :longitude, step: :any, id: :region_longitude, class: "form-input" %>
  </div>
  

  <div class="mb-4">
    <%= f.label :slug, class: "form-label" %>
    <%= f.text_field :slug, id: :region_slug, class: "form-input" %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit "Edit", as: :button, class: "btn-primary w-full mt-3" %>
  </div>
<% end %>

</div>


