<%= content_for :meta_title, "Where to go scuba diving in #{@region.name} - #{@region.country.name}" %>
<%= content_for :meta_description, @region.description.present? ? @region.description : @region.country.meta_description %>
<%= content_for :meta_image, @region.main_image_path %>
<% region_components = "regions/show_components/" %>

<div class="mt-24 mb-12 sm:mt-36 sm:mb-20">
  <%= render region_components + "heading" %>
  <%= render region_components + "description" %>
  <%= render region_components + "map" %>
  <%= render region_components + "conditions" %>
  <%= render region_components + "informations" %>
</div>