<!DOCTYPE html>
<html>
  <head>
    <title>DiveSitesFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/335fdf56b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
